*~
ltxpng
BigFiles
LineMaps
OrigImages
muse-hr-window-*.fits
muse-hr-image-*.fits
muse-hr-transwin-*.fits
muse-hr-data-*.fits
muse-hr-variance-*.fits
bump*.fits
subcube*.fits
*.bck
*.bck.dir
__pycache__/misc_utils.cpython-34.pyc
auto
.DS_Store
*.pyc
muse-hr-fullcube-rebin05x05.fits
*.log
*.aux
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.synctex.gz
*.pyg

